/*Enter your code here*/
/*google font url */
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Satisfy&display=swap');
body {
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
.header{
    display: flex;
    
}
.text{
    margin-right: 80%;
}
#topButton{
    background-color: rgb(121, 121, 211);
    color: white;
    padding: 5px;
    align-items: left;
    size: 50px;
    margin-top: 10px;
}
.logo-title{
    font-family: 'Satisfy',cursive;
    color: rgb(57, 57, 202);
    font-size: 40px;
}
.middleText{
    font-family: 'Marck Script',cursive;
    font-size: 15px;
}
#midButton{
    background-color: rgb(205, 205, 49);
    color: black;
    padding: 10px;
    align-items: left;
    font-weight: bold;
}
.midiv{
    text-align: center;
    padding-top: 10%;
}
@media  (max-width: 700px) {
    .header{
        align-content: center;
    }

    #topButton{
        margin-left: 20px;
        font-size: small;
        height: 50px;
        width: 80px;
        float: right;
    }
    .text{
        margin-right: 45%;
        margin-left: 2%;
    }
    #midButton{
        margin-top: 20%;
    }

}
