/*Enter your code here*/
/*google font url */
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Satisfy&display=swap');
body {
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
.header{
    display: flex;
    
}
.text{
    margin-right: 80%;
}
#topButton{
    background-color: rgb(121, 121, 211);
    color: white;
    padding: 5px;
    align-items: left;
    size: 50px;
    margin-top: 10px;
}
.logo-title{
    font-family: 'Satisfy',cursive;
    color: rgb(57, 57, 202);
    font-size: 40px;
    position: absolute;
    left: 0;
}
#butttons{
    position:absolute;
    right: 0;
}
.middleText{
    font-family: 'Marck Script',cursive;
    font-size: 15px;
    position: absolute;
    left: 0;
    top: 50px;
}
#midButton{
    background-color: rgb(205, 205, 49);
    color: black;
    padding: 10px;
    align-items: left;
    font-weight: bold;
    margin-top: 200px;
}
.midiv{
    text-align: center;
    padding-top: 10%;
}

